---
import BlogTagGroup from './BlogTagGroup.astro';
import Badge from './Badge.astro';
import { Image } from "astro:assets";
import '@fontsource-variable/dm-sans';

const { title, img, desc, url, target = "_blank" } = Astro.props;
---
<div class="blog-box">
    <a href={url} target={target}>
        <div class="blog-contents">
            {
                img && (
                  <Image
                    src={img}
                    width={750}
                    height={422}
                    format="webp"
                    alt={title}
                    class="blog-image"
                  />
                )
              }
            <div class="blog-text">
                <div class="blog-title">
                    {title}
                    <div class="blog-badge">
                        <Badge 
                            badge="NEW"
                        />
                    </div>
                </div>
                <div class="blog-desc">
                    {desc}
                </div>
                <BlogTagGroup 
                    tag="Crypto"
                />
            </div>
        </div>
    </a>
</div>

<style>
    .blog-box {
        display: flex;
        flex-direction: row;
        transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .blog-box:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .blog-contents {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }
    .blog-image {
        max-width: 100%;
        border-radius: 10px;

        @media (min-width: 768px) {
            max-width: 13rem;
        }
    }
    .blog-text {
        font-family: 'DM Sans Variable', sans-serif;
        color: #E8E8E8;
        padding-left: 20px;
    }
    .blog-title {
        font-size: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    .blog-badge {
        padding-left: 20px;
    }
    .blog-desc {
        font-size: 15px;
        padding-bottom: 15px;
    }
</style>