---
import TagGroup from './TagGroup.astro';
import Badge from './Badge.astro';
import { Image } from "astro:assets";
import '@fontsource-variable/dm-sans';

const { title, img, desc, url, target = "_blank", tag1, tag2, tag3, badgeTag } = Astro.props;
---
<div class="content-box">
    <a href={url} target={target}>
        <div class="content-contents">
            { img && (
                <Image
                src={img}
                width={750}
                height={422}
                format="webp"
                alt={title}
                class="content-image"
                />
            )}
            <div class="content-text">
                <div class="content-title">
                    {title}
                    <div class="content-badge">
                        <Badge 
                            badge={badgeTag}
                        />
                    </div>
                </div>
                <div class="content-desc">
                    {desc}
                </div>
                <TagGroup 
                    tag1={tag1}
                    tag2={tag2}
                    tag3={tag3}
                />
            </div>
        </div>
    </a>
</div>

<style>
    .content-box {
        display: flex;
        flex-direction: row;
        transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .content-box:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .content-contents {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }
    .content-image {
        width: 100%;
        max-width: 100%;
        border-radius: 10px;

        @media (min-width: 768px) {
            max-width: 208px;
        }
    }
    .content-text {
        font-family: 'DM Sans Variable', sans-serif;
        color: #E8E8E8;
        padding-left: 20px;
    }
    .content-title {
        font-size: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    .content-badge {
        padding-left: 20px;
    }
    .content-desc {
        font-size: 15px;
        padding-bottom: 15px;
    }
</style>