---
import { type BlogSchema } from "../content/config";
import Badge from "src/components/Badge.astro";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends BlogSchema {}

const { title, description, pubDate, updatedDate, heroImage, badge, tags = [] } = Astro.props;
dayjs.extend(localizedFormat);
const displayPubDate = dayjs(pubDate).format("LL")
const displayUpdateDate = dayjs(updatedDate).format("LL")
import { Image } from "astro:assets";
---

<BaseLayout title={title} description={description} image={heroImage}>
  <main>
    <article>
      {heroImage && <Image width={750} height={422} format="png" src={heroImage} alt={title} class="image"/>}
      <div class="title-con">
        <div class="title">{title}</div>
        <div class="custom-badge">
          {badge && <Badge badge={badge}/>}
        </div>
      </div>
      <div class="pub-date">
        {pubDate && <time>{displayPubDate}</time>}
      </div>
      <div class="updated-date">
        {updatedDate && (
          <div>
            {" "}
            Last updated on <time>{displayUpdateDate}</time>{" "}
          </div>
        )}
      </div>
      <div class="tag-group">
        {tags && tags.map((tag) => (
          <a href={`/blogs/tag/${tag}`} class="tag">
            <div class="tag-text">
              {tag}
            </div>
          </a>
        ))}
      </div>
      <div class="divider"></div>
      <div class="blog-text">
        <slot />
      </div>
    </article>
  </main>
  <div class="divider"></div>
</BaseLayout>

<style is:global>
  h1 {
    font-size: 30px;
    font-weight: bold;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a {
    color: #9E51B8;
    transition: all 0.15s ease-in-out;
  }
  a:hover {
    color: #00BCF0;
  }
  table {
    width: 100%;
  }
</style>

<style>
  main {
    display: flex;
    @media (min-width: 768px) {
      justify-content: center;
    }
  }
  article {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px; 
  }
  article img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }
  .title-con {
    display: flex;
  }
  .title {
    font-size: 35px; 
    font-family: 'DM Sans Variable', sans-serif;
    font-weight: bold;
    color: #E8E8E8;
  }
  .pub-date {
    font-size: 16px; 
    font-family: 'DM Sans Variable', sans-serif;
    color: #E8E8E8;
    margin-bottom: 5px; 
  }
  .updated-date {
    font-size: 16px; 
    font-family: 'DM Sans Variable', sans-serif;
    color: #E8E8E8;
    margin-bottom: 15px; 
  }
  .custom-badge {
    margin-top: 10px;
    margin-left: 20px;
    background-color: #15171E;
  }
  .image {
    width: 100%;
    margin-bottom: 25px;
  }
  .tag-group {
    display: flex;
    gap: 15px;
    margin-bottom: 15px; 
  }
  .tag {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    width: max-content;
    height: max-content;
    border-radius: 10px;
    border: 1px solid transparent;
    background-image: linear-gradient(#1C1E25, #1C1E25), linear-gradient(45deg, #9E51B8, #4D88D5 70%, #00BCF0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: all 0.15s ease-in-out;
  }
  .tag:hover {
      background-image: linear-gradient(45deg, #9E51B8, #4D88D5 70%, #00BCF0), linear-gradient(45deg, #9E51B8, #4D88D5 70%, #00BCF0);
      transform: scale(1.05);
  }
  .tag-text {
    font-size: 16px;
    font-family: 'DM Sans Variable', sans-serif;
    color: #E8E8E8;
  }
  .blog-text {
    font-size: 16px;
    font-family: 'DM Sans Variable', sans-serif;
    color: #E8E8E8;
  }
  .divider {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.divider-divider-color:before {
		--tw-bg-opacity: 1;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.divider-divider-color:after {
		--tw-bg-opacity: 1;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
</style>