---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
import ContentBox from "../../../../components/ContentBox.astro";
import { getCollection } from "astro:content";
import pageLeft from "/public/svg/pageLeft.svg";
import pageRight from "/public/svg/pageRight.svg";

export async function getStaticPaths({ paginate }) {
  const all_projects = await getCollection("projects");
  const all_tags = all_projects.flatMap((post) => {
    return post.data.tags || [];
  });

  return all_tags.flatMap((tag) => {
    const filtered_projects = all_projects.filter((post) => {
      return post.data.tags?.includes(tag);
    });
    filtered_projects.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
    return paginate(filtered_projects, {params: { tag }, pageSize: 10,
});
  });
}

const { page } = Astro.props;
const params = Astro.params;
---

<BaseLayout title={"Projects using " + params.tag} sidebarActive="projects">
  <div class="title">
    <div class="title-text">Projects using {params.tag}</div>
  </div>
  {
    page.data.length === 0 ? (
      <div class="no-content-message">
        Sorry! There are no projects to show at the moment. Check back later!
      </div>
    ) : (
      <ul>
        {page.data.map((post) => (
          <>
            <ContentBox
              title={post.data.title}
              img={post.data.heroImage}
              desc={post.data.description}
              url={"/projects/" + post.slug}
              target="_self"
              badgeTag={post.data.badge}
              tags={post.data.tags}
            />
            <div class="divider" />
          </>
        ))}
      </ul>
    )
  }

  <div class="page-buttons">
    {
      page.url.prev ? (
        <a href={page.url.prev} class="page-button">
          <img src={pageLeft.src} class="page-icon" alt="Previous Page"/>
          <div class="page-button-text">
            Recent Projects
          </div>
        </a>
      ) : (
        <div />
      )
    }
    {
      page.url.next ? (
        <a href={page.url.next} class="page-button">
          <div class="page-button-text">
            Older Projects
          </div>
          <img src={pageRight.src} class="page-icon" alt="Next Page"/>
        </a>
      ) : (
        <div />
      )
    }
  </div>
</BaseLayout>

<style>
  .title {
    margin-bottom: 15px;
  }
  .title-text {
    color: #E8E8E8;
    font-size: 30px;
    width: 100%;
    font-weight: bold;
  }
  .page-buttons {
    display: flex;
    justify-content: space-between;
  }
  .page-button {
    display: flex;
    background-color: #15171E;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: max-content;
    border-radius: 20px;
    transition: all 0.15s ease-in-out;
  }
  .page-button-text {
    background-image: linear-gradient(to right, #9E51B8, #00BCF0 50%, #E8E8E8 50%);
    background-size: 200% 100%;
    background-position: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'DM Sans Variable', sans-serif;
    padding-top: 7px;
    margin: 0 15px;
    transition: all 0.3s ease-in-out;
  }
  .page-button-text:hover {
    background-position: 0;
  }
  .page-button:hover {
    background-color: #1C1E25;
    transform: scale(1.05);
  }
  .page-icon {
    width: 40px;
    height: 40px;
  }
  .no-content-message {
    background-color: #15171E;
    width: 100%;
    min-width: 100%;
    padding: 10px;
  }
  .divider {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.divider-divider-color:before {
		--tw-bg-opacity: 1;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.divider-divider-color:after {
		--tw-bg-opacity: 1;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
</style>