---
import { type ProjectSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";

export interface Props extends ProjectSchema {}

const { title, description, heroImage, badge, tags = [], code, demo, socials } = Astro.props;
import { Image } from "astro:assets";
---

<BaseLayout title={title} description={description} image={heroImage}>
  <main>
    <article>
      {heroImage && <Image width={100} height={100} format="png" src={heroImage} alt={title} class="image"/>}
      <div class="title-con">
        <div class="title">{title}</div>
      </div>
      <div class="associated">
        {code && <a href={code} target="_blank" class="source">
            <div class="source-text">
              Code
            </div>
        </a>}
        {demo && <a href={demo} target="_blank" class="source">
            <div class="source-text">
              Demo
            </div>
        </a>}
        {socials && <a href={socials} target="_blank" class="source">
            <div class="source-text">
              Socials
            </div>
        </a>}
      </div>
      <div class="divider"></div>
      <div class="project-text">
        <slot />
      </div>
    </article>
  </main>
  <div class="divider"></div>
</BaseLayout>

<style is:global>
    h1 {
        font-size: 30px;
        font-weight: bold;
    }
    h2 {
        font-size: 24px;
        font-weight: bold;
    }
    p {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    a {
        color: #6f5b3e;
        transition: all 0.15s ease-in-out;
    }
    a:hover {
        color: #c4ae78;
    }
    table {
        width: 100%;
    }
    .blog-img {
        border-radius: 20px;
    }
    .caption {
        color: #6f5b3e;
        font-size: 12px;
        font-weight: light;
    }
</style>

<style>
    main {
        display: flex;
        @media (min-width: 768px) {
            justify-content: center;
        }
    }
    article {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px; 
    }
    article img {
        display: flex;
        justify-content: center;
        max-width: 200px;
        max-height: 200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }
    .title-con {
        display: flex;
        margin-bottom: 5px;
    }
    .title {
        font-size: 35px; 
        font-family: 'DM Sans Variable', sans-serif;
        font-weight: bold;
        color: #6f5b3e;
    }
    .image {
        width: 100%;
        margin-bottom: 25px;
    }
    .source {
        display: flex;
        justify-content: center;
        padding-top: 7px; 
        padding-bottom: 7px; 
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        height: max-content;
        border-radius: 10px;
        border: 1px solid #6f5b3e;
        background-origin: border-box;
        background-clip: padding-box, border-box;
        transition: all 0.15s ease-in-out;
    }
    .source:hover {
        background-color: #c4ae78;
        transform: scale(1.05);
    }
    .tag-text {
        font-size: 16px;
        font-family: 'DM Sans Variable', sans-serif;
        color: #E8E8E8;
    }
    .associated {
        display: flex;
        width: 100%;
        gap: 15px;
        margin-bottom: 15px; 
    }
    .source-text {
        font-size: 18px;
        font-family: 'DM Sans Variable', sans-serif;
        color: #6f5b3e;
    }
    .project-text {
        font-size: 16px;
        font-family: 'DM Sans Variable', sans-serif;
        color: #6f5b3e;
    }
    .divider {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .divider-divider-color:before {
        --tw-bg-opacity: 1;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .divider-divider-color:after {
        --tw-bg-opacity: 1;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
</style>